[submodule "vendor/async_kit"]
	path = vendor/async_kit
	url = git@github.com:lsem/async_kit.git

[submodule "vendor/asio"]
	path = vendor/asio
	url = git@github.com:lsem/asio.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:lsem/googletest.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "vendor/apg-6.3"]
	path = vendor/apg-6.3
	url = git@github.com:lsem/apg-6.3.git
[submodule "vendor/apg-7.0"]
	path = vendor/apg-7.0
	url = git@github.com:lsem/apg-7.0.git
[submodule "vendor/libb64"]
	path = vendor/libb64
	url = git@github.com:lsem/libb64.git
[submodule "vendor/scope_guard"]
	path = vendor/scope_guard
	url = git@github.com:lsem/scope_guard.git
[submodule "vendor/belr"]
	path = vendor/belr
	url = git@github.com:lsem/belr.git
[submodule "vendor/utf-7"]
	path = vendor/utf-7
	url = git@github.com:lsem/utf-7.git
[submodule "vendor/expected"]
	path = vendor/expected
	url = git@github.com:lsem/expected.git
